# Local Virtual enviornment
venv/
.venv/
ENV/
node_modules/
volumes/

# Byte-compiled Python files
*.pyc
*.pyo
*.pyd
__pycache__/

# Media, models and model outputs
ML_models/yolo11/*
uploads/*
output/*

# Exclude logs
logs/
*.log

# Environment variables
.env
.env.example
.env.production

# Migrations
alembic/versions/*.pyc
alembic.ini

# IDE settings
.vscode/
.idea/
*.swp
*.swo

# OS-specific files
.DS_Store
Thumbs.db

# Python egg metadata
*.egg
*.egg-info/
dist/
build/
.eggs/

# Testing/coverage files
htmlcov/
.coverage
.cache
.pytest_cache/

# Development files
*.md
*.rst 

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Others
*.bak
*.tmp
.git
